body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.chat-container {
  width: 75%;
  /* Use percentage-based width for responsiveness */
  max-width: 1200px;
  /* Set a maximum width for larger screens */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.description {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.chat-box {
  height: 300px;
  /* Adjusted height to accommodate the description */
  overflow-y: auto;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.input-container {
  display: flex;
  padding: 10px;
}

#model-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  /* Increased font size */
}

#user-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  /* Increased font size */
}

#send-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  /* Increased font size */
}

#send-button:hover {
  background-color: #0056b3;
}

.message {
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
}

.bot-message {
  text-align: left;
}

.message-label {
  font-weight: bold;
  display: block;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .chat-container {
    width: 90%;
    /* Increase width for smaller screens */
  }

  .chat-box {
    height: 200px;
    /* Adjust height for smaller screens */
  }
}